*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}

#container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(blue, pink);
}

#zonaDeTrabajo{
    width: 50%;
    height: 85.5%;
    border: rgb(0, 0, 0) 2px solid;
}

#bienvenido{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #c7eef3;
}

#textBienvenido{
    width: 40%;
    height: 70%;
    background-color: rgb(197, 191, 191);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#retirar{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#dos{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(186, 196, 196);
}

#cuadroRetirar{
    width: 100;
    height: 20%;
    
}





